<style>
  table, th, td {
  border:1px solid black;
  }
</style>
<h2>Answer Submitted</h2>

<table style="width:100%">
    <tr>
      <th>Question</th>
      <th>Your Answer</th>
    </tr>
    <tr>
      <td><%=@questions.question%></td>
      <td><%=@student_answers.answer%></td>
    </tr>

</table>
